{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}
{% block main %}
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
              <img src="http://www.cateringworks.com/content/slider/cover2.jpg" >
            </a>
          </div>
          <div>
              <p>Bakery</p>
          </div>
          
        </div>
         <div class="row">
          <div>
              <p>Bakery</p>
          </div>
          <div class=" col-md-3" style="display: inline-block">
            <a href="#" class="thumbnail">
              <img src="http://www.cateringworks.com/content/slider/cover2.jpg" >
            </a>
          </div>
        </div>
{% endblock %}